@import url('https://fonts.googleapis.com/css?family=Cormorant:600|Playfair+Display:900');

* {
  box-sizing: border-box;
}

body {
  font-size: 100%;
}

.post {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.aside-left {
  flex: 1 1 auto; 
  border: 5px solid cyan;
}


.main {
  flex: 2 1 1024px;
  border: 5px solid red;
}


.aside-right {
  flex: 1 1 auto; 
  border: 5px solid blue;
}
