@import url('https://fonts.googleapis.com/css?family=Cormorant:600|Playfair+Display:900');

* {
  box-sizing: border-box;
}

body {
  font-size: 100%;
}

.post {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.aside-left {
  flex: 1 1 auto; 
  border: 5px solid cyan;
}


.main {
  flex: 2 1 64em;
  /* max-width: 1024px; */
  border: 5px solid red;
}


.aside-right {
  flex: 1 1 auto; 
  border: 5px solid blue;
}

p {
  font-family: 'Cormorant', serif;
  font-size: 1.75em;
  line-height: 1.5em;
  font-weight: 600;
}
/*
h1 {
  font-family: 'Playfair Display', serif;
  font-size: 2.5em;
  font-weight: 700;
  text-align: center;
}

aside {
  font-family: 'Cormorant', serif;
  padding: 0.25em;
  font-size: 1.25em;
  line-height: 1.5em;
  font-weight: 600;
}


/* /1* Smartphones (portrait and landscape) ----------- *1/ */
/* @media only screen and (min-device-width : 320px) and (max-device-width : 768px) { */
/* /1* Styles *1/ */
/*   .main { */
/*     max-width: 480px; */
/*   } */
/* } */


/* /1* iPads (portrait and landscape) ----------- *1/ */
/* @media only screen and (min-device-width : 769px) and (max-device-width : 1024px) { */
/* /1* Styles *1/ */
/*   .main { */
/*     max-width: 768px; */
/*   } */
/* } */


/* /1* Desktops and laptops ----------- *1/ */
/* @media only screen  and (min-width : 1224px) { */
/* /1* Styles *1/ */
/*   .main { */
/*     max-width: 1024px; */
/*   } */
/* } */

