@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Satisfy');
/* Palette source: http://ethanschoonover.com/solarized */
:root{
  --base03:    #002b36;
  --base02:    #073642;
  --base01:    #586e75;
  --base00:    #657b83;
  --base0:     #839496;
  --base1:     #93a1a1;
  --base2:     #eee8d5;
  --base3:     #fdf6e3;
  --yellow:    #b58900;
  --orange:    #cb4b16;
  --red:       #dc322f;
  --magenta:   #d33682;
  --violet:    #6c71c4;
  --blue:      #268bd2;
  --cyan:      #2aa198;
  --green:     #859900;
}

* {
  box-sizing: border-box;
}

body {
  font-size: 100%;
  background-color: var(--base3);
  /* background-color: var(--base03); */
  color: var(--base02);
  /* color: var(--base2); */
}

header {
  /* font-family: 'Dancing Script', cursive; */
  font-family: 'Satisfy', cursive;
  font-size: 6em;
  padding: 2px;
  text-align: center;
}

/* Template */
.post {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.aside-left {
  order: 1;
}

.main {
  order: 2;
}

.aside-right {
  order: 3;
}

@media screen and (min-width : 0px) and (max-width: 464px) {
  body {
    font-size: 14px;
  }

  .aside-left {
    flex: 1 1 auto;
    border: 5px solid green;
  }

  .main {
    flex: 2 1 480px;
    border: 5px solid red;
    /* padding: 0.25em; */
  }

  .aside-right {
    flex: 1 1 auto;
    border: 5px solid blue;
  }
}

@media screen and (min-width: 465px) and (max-width: 768px) {
  .aside-left {
    flex: 1 1 auto;
    border: 5px solid green;
  }
  .main {
    flex: 2 1 768px;
    border: 5px solid orange;
    /* padding: 0.25em; */
  }

  .aside-right {
    flex: 1 1 auto;
    border: 5px solid blue;
  }
}

@media screen and (min-width: 769px) {
  .aside-left {
    flex: 1 1 auto;
    border: 5px solid green;
  }
  .main {
    flex: 1 1 500px;
    border: 5px solid gold;
    /* padding: 2em; */
  }

  .aside-right {
    order: 3;
    flex: 1 1 auto;
    border: 5px solid blue;
  }
}
