header {
	background-color: cyan;
	border: 1px solid red;
}

section {
	float:left;
	margin: 0 1.5%;
  	width: 63%;
    background-color: chartreuse;
    border: 1px solid red;
}

aside {
	float:right;
	margin: 0 1.5%;
    width: 30%;
	background-color: cornflowerblue;
	border: 1px solid red;
}

footer {
	background-color: coral;
	border: 1px solid red;
    clear: both;
}


