* {
  box-sizing: border-box;
}

body {
  font-size: 100%;
}

header{
  margin: 2em 0em;
}

h1 {
  font-family: 'Playfair Display', serif;
  font-size: 2.5em;
  font-weight: 700;
  text-align: center;
  /* letter-spacing: 1px; */
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0.25em;
  font-size: 2em;
  font-family: 'Dancing Script', cursive;
}

.post {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.aside-left {
  order: 1;
  flex: 1 1 auto;
  /* width: 25%; */
  border: 5px solid green;
}

.main {
  order: 2;
}

.aside-right {
  order: 3;
  flex: 1 1 auto;
  /* width: 25%; */
  border: 5px solid blue;
}

@media screen and (min-width : 0px) and (max-width: 464px) {
  body {
    font-size: 14px;
  }
  .main {
    flex: 2 1 480px;
    border: 5px solid gold;
    /* padding: 0.25em; */
  }
}

@media screen and (min-width: 465px) and (max-width: 768px) {
  .main {
    flex: 2 1 768px;
    border: 5px solid red;
    /* padding: 0.25em; */
  }
}

@media screen and (min-width: 769px) {

  .main {
    flex: 1 1 80em;
    border: 5px solid blue;
    /* padding: 2em; */
  }
}

